body{
  -webkit-font-smoothing:antialiased;
  font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  background:#fff;
  color:#333;
  }

.leadin-header{ /*for the header image*/
    overflow-x:hidden;
    position:relative;
    padding-top:10%;
    padding-bottom:10%;
    text-align:center;
    color:#36393f;
    background: url(../img/hero-img2.jpg) no-repeat fixed bottom center;
    background-size:cover;
    }

/*.leadin-content{
    position:relative;
    padding-top:30%;
    padding-bottom:30%;
    }*/


.leadin-content>h1{
  margin:0;
  font-size:4em;
}

.leadin-divider{
  max-width:400px;
  border-top:1px solid #f8f8f8;
  border-bottom:1px solid rgba(0,0,0,.2);
}

.leadin-body-content{
      padding-bottom:0;
      padding-top:0;
    }

.body-content .leadin-title{
  font-size:3.5em;
  margin:20px;
}

.body-content h1,.body-content h2,.body-content h3 {
  font-family:Roboto;
  margin-top:0;
  margin-bottom:10px;
  }

.body-content h1{
  font-size:3em;
}

.body-content h2{
  font-size:2em;
}

.body-content img{
    max-height:400px;
    margin:0 auto;
    }

  .body-content p{
    font-size:16px;
    }

  .quote{ /*css for the quotes*/
    margin-top:60px;
    margin-bottom:60px;
    font-size:18px;
    color:#5e5e5e;
    font-style:italic;
    text-align:center;
    }

  .grey{ /*gets the elements that have the class grey*/
    background:#f6f5f3;
    color:#333;
    }

  .dark{ /*gets the elements that have the clas dark*/
    background:#2b3643;
    color:#e9e9e9;
    }

.present{
  text-align:center;
}

.div10{
    min-height:10px;
    }

  .div20{
    min-height:20px;
    }

  .div40{
    height:40px;
    min-height:40px;
    }

    section {
    height: 48vh;
    display: flex;
  }
  section .title {
    max-width: 60%;
    width: 100%;
    align-self: center;
    transform: translateY(-50px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
  }
  section .title span {
    display: inline-block;
    font-size: 5vw;
    color: #efefef;
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    animation: byBottom 1s ease both;
    font-weight: 600;
    letter-spacing: 0.25vw;
  }
  section .title span:last-child {
    font-size: 1rem;
    animation: byBottom 1s 0.25s ease both;
  }
  section .title span a {
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #f7ca18;
  }
  section .title span a::after {
    content: "";
    height: 2px;
    background-color: #f7ca18;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    animation: linkAfter 0.5s 1s ease both;
  }
  @-moz-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }

.hero-container {
  height: 45vh;
}

.title span:nth-child(2)   {
  background-color: rgba(0,0,0,.5);
  width: 47%;
  color: white;
  font-size: 20px!important;
  padding: 15px!important;
}

.name {
  color: #414141!important;
}
